# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
Hunt/node_modules/
server/node_modules/

# Expo
Hunt/.expo/
Hunt/dist/
Hunt/web-build/

# Native
Hunt/*.orig.*
Hunt/*.jks
Hunt/*.p8
Hunt/*.p12
Hunt/*.key
Hunt/*.mobileprovision

# Metro
Hunt/.metro-health-check*

# debug
Hunt/npm-debug.*
Hunt/yarn-debug.*
Hunt/yarn-error.*

# macOS
Hunt/.DS_Store
Hunt/*.pem

# local env files
Hunt/.env*.local

# typescript
Hunt/*.tsbuildinfo
